* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.part1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3)100%), url("IMAGES/hero_2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.part1 ul {
    display: flex;
    list-style-type: none;
}

.menu {
    padding-top: 20px;
    margin-bottom: 70px;
    display: flex;
    list-style-type: none;
}


.contact {
    width: 100px;
    height: 40px;
    background-color: #FF7415;
    border: 0px;
    color: white;
}

.contact:hover {
    background-color: white;
    color: orange;
}

a {
    text-decoration: none;
    color: white;
}

.h {
    margin-left: 400px;
}

.menu li {
    margin-right: 20px;
}

.c {
    margin-left: 120px;
}

.title {
    margin-left: 70px;
}

a:hover {
    color: #FF7415;
}

.content {
    font-size: 25;
    margin-top: 0px;

}

.part1 p {
    text-align: center;
    margin-bottom: 0px;
}

.part1 h1 {
    text-align: center;
}

.get {
    background: none;
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 35px;
    margin-top: 10px;
}

.get:hover {
    background-color: white;
    color: black;
}

.c {
    display: flex;
}

h2 {
    font-size: 50px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

p {
    font-size: 30px;
    text-align: left;
}

.content h1 {
    margin-bottom: 5px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.namechef h2 {
    font-size: 30px;
}

.partchef h1 {
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.namechef {
    margin-left: 20%;
}

.slide-content {
    display: flex;
    justify-content: space-between;
}

.slide-content h2 {
    margin-top: 10%;
}


.slide-image {
    width: 50%;
    /* To divide the container equally for both images */
    box-sizing: border-box;
    object-fit: cover;
    /* To ensure the images maintain their aspect ratio */
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    margin-left: 96%;
    border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid black;
}

.question {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 20px;
}

.q {
    width: 100%;
    font-size: 22;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-top: 5px;
    margin-left: 0%;
    margin-right: 5px;
}

.answer {
    display: none;
    font-size: 20;
}

.container61 {
    display: flex;
}

.newsletter p {
    text-align: center;
}

.about-us h4,
.opening-hours h4,
.contact-info h4,
.quick-links h4 {
    text-align: left;
    font-size: 30px;
    width: 100%;
}

.about-us,
.opening-hours,
.contact-info,
.quick-links {
    width: 100%;
}

.quick-links {
    margin-left: 15%;
}

.opening-hours,
.contact-info {
    margin-left: 20%;
}

.quick-links ul,
.contact-info ul {
    list-style-type: none;
    margin: 0px;
}

.quick-links a {
    color: black;
}

.about-us p,
.opening-hours p,
.contact-info p,
.quick-links p {
    font-size: 20px;
    text-align: left;
    padding: 0px;
}

.subscribe-container {
    text-align: center;
    margin-bottom: 3%;
}

.email-input {
    width: 30%;
    height: 5%;
}

.subscribe-button {
    width: 10%;
    height: 5%;
    background-color: #FF7415;
    color: white;
    border: 0px;
}

@media screen and (max-width: 700px) {

    .prev,
    .next {
        color: orange;
        font-size: 50px;
        top: 37%;
    }

    .next {
        margin-left: 94%;
    }

    * {
        padding: 0;
        margin: 0;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .part1 {
        width: 100%;
        height: 800px
    }

    .part1 ul {
        display: block;
    }

    .part1 h3 {
        font-size: 100;
    }

    .part1 li {
        font-size: 45;
        display: block;
    }



    .h li {
        width: 100;
        height: 100;
        margin-left: 100px;
        margin-right: none;
        font-size: 45;

    }

    .h {
        display: none;
        margin-left: 1500px;
        margin-bottom: 50px;
    }

    .contact {

        width: 200px;
        height: 85px;
        background-color: #FF7415;
        border: 0px;
        color: white;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 70px;
        font-size: 25px;
    }

    .contact button {
        margin-left: 0;
    }

    .content {
        display: none;
    }

    .emailcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}

@media screen and (max-width:700px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    .faq-item {
        width: 100%;
    }

    .question {
        height: 50px;
    }

    .q {
        font-size: 20;
    }

    .answer {
        font-size: 15;
    }


}



@media screen and (min-width: 700px) and (max-width: 900px) {
    * {
        padding: 0;
        margin: 0;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .part1 {
        width: 100%;
        height: 800px
    }

    .part1 ul {
        display: block;
    }

    .part1 h3 {
        font-size: 100;
    }

    .part1 li {
        font-size: 35;
        display: block;
    }



    .h li {
        width: 100;
        height: 100;
        margin-left: 0px;
        font-size: 35;

    }

    .h {
        display: block;
        margin-left: 600px;
        margin-bottom: 50px;
    }

    li .contact {
        height: 50px;
        width: 200px;
        background-color: #FF7415;
        border: 0px;
        color: white;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 70px;
        font-size: 25;
    }

    .contact button {
        margin-left: 0;
    }

}