.start {
    background-image: url(./IMAGES/hero_2.jpg);
    background-position: center center;
    display: block;
    height: 350px;
}

.foody {
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: row;
    text-decoration: none;
    word-spacing: 50px;
}

.nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}



.contactus {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    line-height: 0px;
    margin-top: 60px;
    font-size: 20px;
    padding: 0;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    width: 130px;
    height: 50px;
    margin-top: -22px;
    font-family: sans-serif;
    font-size: 20px;
}

.getstarted {
    position: unset;
    margin-left: 50%;
    margin-top: 6%;
}


#name {
    font-size: x-large;
}

#phone {
    font-size: x-large;
}

#email {
    font-size: x-large;
}

#Message {
    font-size: 28px;
    height: 50px;
}

#submit {
    background-color: orangered;
    color: white;
    font-size: medium;
    border: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: orange;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#Message {
    height: 100px;
    /* Adjust the height as needed */
}

#submit {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#name #email #phone {
    height: 50px;
}

.fk img {
    height: 500px;
    width: 300px;
    margin-left: 8%;
}

.Reservation {
    display: flex;
    justify-content: center;
    color: black;
    height: 500px;
    width: 600px;
    margin-top: 10px;

    margin-left: 30%;

}

.part2 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;


}

.part2 .text {
    font-size: large;
    margin-left: 8%;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    font-family: sans-serif;

}

.part2 .text h2 {
    color: #FFA500;
}

.part2 .text h3 {
    text-decoration: underline;
}

#map {
    height: 300px;
    width: 650px;

}

@media screen and (max-width: 800px) {

    .start .getstarted {
        position: unset;
        margin-left: 50%;
        margin-top: 23.5%;
        cursor: pointer;
    }

}

@media (max-width:800px) {
    .part2 {
        margin-top
    }


    .part2 .text {
        font-size: 20px;
        margin-left: 0%;
    }

    .part2 h2 {
        font-size: 20px;
    }

    .part2 .map {
        width: 350px;
    }

    .part2 #map {
        height: 300px;
        width: 400px;
    }

}



@media screen and (max-width: 800px) {
    .Reservation {
        width: 100%;
        display: block;
        margin-left: 0;
    }

    .fk img {
        display: none
    }



}