* {
    margin: 0px;
    padding: 0px;
}

.part1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3)100%), url("IMAGES/hero_2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.part1 ul {
    display: flex;
    list-style-type: none;
}

.menu {
    padding-top: 20px;
    margin-bottom: 70px;
    display: flex;
    list-style-type: none;
}


.contact {
    width: 100px;
    height: 40px;
    background-color: #FF7415;
    border: 0px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.h {
    margin-left: 400px;
}

.menu li {
    margin-right: 20px;
}

.c {
    margin-left: 120px;
}

.title {
    margin-left: 70px;
}

a:hover {
    color: #FF7415;
}

.content {
    font-size: 25;
    margin-top: 0px;

}

.part1 p {
    text-align: center;
    margin-bottom: 0px;
}

.get {
    background: none;
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 35px;
}

.button {
    text-align: center;
}


.men li {
    width: 300px;
    height: 300px;
    margin-left: 20px;

}

.menu1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3)100%, rgba(0, 0, 0, 0.3)100%), url("IMAGES/special-menu1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.menu2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3)100%, rgba(0, 0, 0, 0.3)100%), url("IMAGES/special-menu2.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    text-align: center;
}

.menu3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3)100%, rgba(0, 0, 0, 0.3)100%), url("IMAGES/special-menu3.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}


.price {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FF7415;
    color: white;
    border: 0;
    margin-top: 50%;
}

.ingredients {
    color: white;
    margin-top: 0%;

}

.men button {
    margin-top: 170px;
}

.price:hover {
    background-color: transparent;
    border: 1px solid white;
}

.container h1 {
    text-align: center;
}

.table1 td {
    width: 200px;
    height: 200px;
}

.table1 {
    display: grid;
    background-color: white;
    align-items: center;
    margin-left: 220px;
    margin-right: 220px;
}

.t1 {
    display: grid;
    grid-template-columns: auto auto;
}

.t2 {
    display: grid;
    grid-template-columns: auto auto;
}

.t3 {
    display: block;
    width: 200px;
    height: 200px;
}

.t3 img {
    width: 200px;
    height: 200px;
}

.part4 {
    background-color: #f0f0f0;
    transform: skewY(-5deg);
    height: 1000px;
}

.p4 {
    transform: skewY(5deg);
    padding-top: 50px;
    width: 100%;
}

td img {
    border-radius: 0;
}

h1 {
    text-align: center;
}

.paragraph {
    width: 400px;
    color: gray;
}

footer img {
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.up {
    text-align: center;
    margin: auto auto auto 450px;
}

footer {
    justify-content: center;
    display: flex;
    margin-right: 500px;
    margin-top: 30px;
}

.title {
    font-size: 20;
}

.description {
    color: gray;
    font-size: 15;

}

.chef tr {
    margin-top: 0px;
    padding-top: 0px;
}

.container {
    display: block;
    justify-content: center;
}

.c img {
    background-color: rgb(255, 111, 0);
    overflow: hidden;
    margin: left;
    height: 100px;
    width: 100px;
    background-size: 200px;
    background-position: center;
    border-radius: 50%;
    padding: left;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.c {
    height: fit-content;
    margin-bottom: -30px;
}

hr {
    color: rgb(255, 111, 0);
    width: 5%;
    margin-left: 47%;
    border-color: rgb(255, 111, 0);
    margin-bottom: 10px;
}


.container12 {
    width: 100%;
    padding-left: -20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transform: skewY(5deg);
    transform-origin: top left;
    margin-left: -10px;
}

.c h5 {
    color: orange;
    font-size: 16;
    text-align: left;
    margin-left: -10px;
}

.cont {
    margin-right: 0px;
    margin-left: 0px;
}

.c p {
    line-height: 25pt;
    color: gray;
    margin-top: -10px;
    font-size: 15;
    margin-right: 0px;
    margin-top: 10px;
    margin-right: 0px;
    height: 50px;
    width: 200px;
    padding-right: 0px;
    margin-left: 0;
    padding-left: 0px;
}

.part2 {
    background-color: #f0f0f0;
    transform: skewY(-5deg);
    transform-origin: top left;
    height: 500px;
}

.svg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FF7415;
    margin: 50px auto 20px auto;
}

.svg img {
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

.container2 {
    display: block;
    padding-left: 60px;
    margin-top: -80px;
}

.container3 h1 {
    text-align: center;
    margin: 0 auto;

}

.container3 {
    margin-top: 100px;
    margin-left: -100px;
}

.container3 p {
    color: grey;
    margin-left: 30%;
    margin-right: 30%;
}

.container3 h1 {
    font-weight: 900;
    font-size: 35px;
}


.image1 {
    width: 220px;
    height: 280px;
    border-radius: 0;
}

.image2 {
    height: 140px;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 0;
    margin-right: 20px;
}

.image3 {
    height: 120px;
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 0;


}

.image-container {
    display: flex;
}

.image4 {
    width: 220px;
    height: 280px;
    border-radius: 0;
}

.image-container {
    display: inline-flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 40px;
    margin-left: 30%;
}

.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.email-input {
    /* Add styles for the email input box */
    padding: 15px;
    width: 380px;
    /* Adjust the width as desired */
    border: 1px solid #ccc;
    /* Optional: Rounded corners */
    font-size: 18px;
    color: #000;
    /* Black font color */
    background-color: #fff;
    /* White background */
    margin-right: 20px;
}

.subscribe-button {
    /* Add styles for the subscribe button */
    padding: 15px 30px;
    /* Adjust padding as desired */
    background-color: rgb(255, 111, 0);
    /* Orange background */
    color: #fff;
    /* White font color */
    border: none;
    /* Optional: Rounded corners */
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 3px;
}




.newsletter {
    text-align: center;
    margin-top: 20px;
}

.container6 {
    display: block;
    width: 100%;
}

.container6 p {
    font-size: 18px;
}


.part6 a:hover {
    color: grey;
}

.quick-links li {
    color: orange;
}

.part6 a {
    text-decoration: none;
    color: rgb(255, 111, 0);
}

.quick-links {
    margin-left: 70px;
}

.quick-links ul {
    display: block;

}

.quick-links li {
    width: 300px;
    height: auto;
}

.contact-info ul {
    display: block;
    width: 300px
}

.contact-info li {
    width: 300px;
    height: auto;
}

.contact-info p {
    display: block;
}

.part6 p {
    display: flex;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.container61 {
    display: flex;
    margin-top: 20px;
}

.container61 p {
    font-size: 18px;
}

.about-us {
    width: 300px;
    margin-left: 70px;
}

.container {
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 50px;
    transform: skewY(-5deg);
    transform-origin: top left;
}

.co {
    transform: skewY(5deg);
    transform-origin: top left;
}

.opening-hours {
    width: 300px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.quick-links li {
    font-size: 18px;
}

.contact-info p {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 18;
}

.contact-info {
    font-size: 18;
    margin-left: 70px;
}

.container123 {
    background-color: #f0f0f0;
    width: 100%;
    height: 500px;
    transform: skewY(-5deg);
    transform-origin: top left;
}


.special {
    margin-top: 50px;
}

.men {
    margin-left: 10%;
    padding-top: 20px;
    margin-bottom: 70px;
}

.container h1 {
    margin-bottom: 50px;
}

h1 {

    text-align: center;

}

ul {
    list-style-type: none;
}

.blog {
    width: 30%;
    height: fit-content;
}

.special ul {
    display: flex;
}


h2 {

    color: #FF7415
}



.Blog {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin-top: 30px;
    height: 700px;
}



.P5 button {

    background-color: #FF7415;

    color: white;

    border: 0;

    width: 100px;

    height: 50px;

}



.part5 {

    background-color: #f0f0f0;

    transform: skewY(-5deg);

}



.P5 {

    transform: skewY(5deg);

    padding-top: 50px;

}



img {
    width: 500px;
    height: 250px;

}

.t3 p {
    color: #999DA0;
}

.t3 .p {
    color: #FF7415;
}

.image {
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-right: 50px;
    margin-left: 10px;
}

.image li {
    margin-top: 10px;

}

.get:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 700px) {
    * {
        padding: 0;
        margin: 0;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .p4 {
        width: 100%;
        height: 5700px;
        font-size: 35;
    }

    .t3 h4 {
        font-size: 70;
        margin-top: 20px;
        margin-left: 10px;
    }

    .t3 p {
        font-size: 70;
        margin: auto;
        margin-top: 20px;
        padding-left: 10px;
    }

    .part4 {
        width: 100%;
        height: 7200px;
        background-color: #f0f0f0;

    }

    .svg {
        width: 250px;
        height: 250px;
        margin: 30px 30px 30px 40px;
    }

    .svg img {
        width: 150px;
        height: 150px;
        margin: 50px 50px 50px 50px;
    }

    .table1 {
        background-color: white;
        height: fit-content;
        display: block;
        width: fit-content;
        margin: auto;
    }

    .t3 {
        width: 850px;
        height: 850px;
    }


    .t3 img {
        width: 850px;
        height: 850px;
    }

    .t1 {
        display: block;
    }

    .Blog {
        display: block;
    }

    .blog {
        margin-bottom: 0px;
        height: fit-content;
    }

    .P5 {
        height: 2500px;
        padding: center;
    }

    h1 {
        font-size: 70;
    }

    .c {
        width: 70%;
        height: fit-content;
        margin-bottom: 10px;
    }


    .cont {
        display: flex;
    }

    .container12 {
        display: block;
    }

    .c h5 {
        color: orange;
        letter-spacing: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50;
        margin-top: 0px;
        padding-left: 0px;
    }

    .cont {
        margin-right: 0px;
        margin-left: 0px;
    }

    .c p {
        line-height: 1.3;
        color: gray;
        margin-top: -10px;
        font-size: 60;
        margin-right: 0px;
        margin-top: 10px;
        margin-right: 0px;
        height: 200px;
        width: fit-content;
        padding-right: 0px;
        margin-left: 0;
        padding-left: 0px;
    }

    .part2 {
        background-color: #f0f0f0;
        transform: skewY(-5deg);
        transform-origin: top left;
        height: 1500px;
    }

    .c {
        transform: skewY(-5deg);
        transform-origin: top left;
    }

    .image {
        margin: auto;
        width: 70%;
        height: 1100px;
        font-size: 60;
    }

    .P5 button {
        width: 300px;
        height: 100px;
        background-color: #FF7415;
        font-size: 40;
    }

    li img {
        width: 100%;
        height: 50%;
    }

    .part1 {
        width: 100%;
        height: 800px
    }

    .part1 ul {
        display: block;
    }

    .part1 h3 {
        font-size: 100;
    }

    .container123 {
        background-color: #f0f0f0;
        width: 100%;
        height: 15%;
        transform: skewY(-5deg);
        transform-origin: top left;
    }

    .cont {
        transform: skewY(5deg);
        transform-origin: top left;
        margin-left: 10%;
    }

    .title h3 {
        height: 20px;
    }



    .part1 li {
        font-size: 45;
        display: block;
    }



    .h li {
        width: 100;
        height: 100;
        margin-left: 100px;
        margin-right: none;
        font-size: 45;

    }

    .h {
        display: none;
        margin-left: 1500px;
        margin-bottom: 50px;
    }

    .contact {

        width: 200px;
        height: 85px;
        background-color: #FF7415;
        border: 0px;
        color: white;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 70px;
        font-size: 25px;
    }

    .contact button {
        margin-left: 0;
    }

    .container1 {
        margin-left: 0;
    }

    .container1 svg {
        margin: 0;
        margin-right: 50px;
    }

    .container2 h5 {
        font-size: 30px;
        width: fit-content;
        height: fit-content;
    }

    .container2 p {
        font-size: 25px;
    }

    .cont {
        margin: 0;
    }

    .container3 {
        margin-top: 50px;
    }

    .container3 h1 {
        font-size: larger;
    }

    .paragraph {
        font-size: medium;
        text-align: right;
    }

    .image-container {
        margin-left: 10%;
    }

    .container3 p {
        margin-left: 10%;
        margin-right: 10%;
    }

    .image1,
    .image4 {
        width: 450px;
        height: 500px;
    }

    .image2,
    .image3 {
        width: 600px;
        height: 230px;
    }

    .special {
        height: 2000px;
    }

    .special ul {
        display: block;
        margin: auto;
    }

    .special h1 {
        font-size: 70;
    }

    .special li {
        margin: 3% auto 0 auto;
        width: 50%;
        height: 500px;
    }

    .price {
        margin-top: 100%;
        font-size: 30;
        width: 150px;
        height: 150px;
    }

    .ingredients {
        margin-top: 2%;
        font-size: 40;
    }

    .menu1,
    .menu2,
    .menu3 {
        margin-top: 30%;
        font-size: medium;
    }

    .co h1 {
        font-size: 70;

    }

    .up {
        margin-left: 5%;
    }

    .paragraph {
        font-size: 60;
        margin-left: 5%;
        width: 90%;
    }

    footer {
        margin-right: 0px;
    }

    footer img {
        width: 25%;
        height: 25%;
    }

    .chef {
        text-align: center;
        margin-top: 10%;
        margin-right: 0px;
    }

    .chef td {
        width: fit-content;
        height: fit-content;
    }

    .title {
        font-size: 50;
    }

    .description {
        font-size: 50;
    }

    .container2 {
        padding-left: 20px;
        margin-left: 10px;
    }

    .container1 {
        padding-left: 50;
    }

    .container3 h1 {
        font-size: 70;
    }

    .container3 p {
        font-size: 60;
    }

    .container61 {
        font-size: 50;
    }

    .newsletter p {
        font-size: 50;
        margin-left: 5%;
    }

    .email-input {
        width: 50%;
        height: 70px;
        font-size: 40;
    }

    .subscribe-button {
        width: 30%;
        height: 70px;
        font-size: 40;
    }

    .container61 {
        margin-top: 30px;
    }

    .about-us,
    .opening-hours,
    .contact-info,
    .quick-links {
        width: 40%;
        margin: 20px 0px 20px 40px;
    }

    .oq {
        width: 40%;
    }

    .about-us p {
        font-size: 50;
    }

    .opening-hours p {
        font-size: 50;
    }

    .contact-info h4 {
        font-size: 50;
    }

    .contact-info p {
        font-size: 50;
    }

    .quick-links li {
        font-size: 50;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    * {
        padding: 0;
        margin: 0;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .image-container {
        width: 100%;
        height: fit-content;
    }

    .svg {
        width: 150px;
        height: 150px;
        margin-left: 10px;
    }

    .svg img {
        width: 90;
        height: 90;
        margin: 30px 30px 30px 30px;
    }

    h1 {
        font-size: 40;
    }

    .c {
        width: 70%;
        height: fit-content;
        margin-bottom: 10px;
    }


    .cont {
        display: flex;
    }

    .container12 {
        display: block;
    }

    .c h5 {
        color: orange;
        letter-spacing: 0px;
        font-size: 40;
        margin-top: 0px;
        padding-left: 0px;
    }

    .cont {
        margin-right: 0px;
        margin-left: 0px;
    }

    .c p {
        line-height: 1.3;
        color: gray;
        margin-top: -10px;
        font-size: 30;
        margin-right: 0px;
        margin-top: 10px;
        margin-right: 0px;
        height: 200px;
        width: fit-content;
        padding-right: 0px;
        margin-left: 0;
        padding-left: 0px;
    }

    .part2 {
        background-color: #f0f0f0;
        transform: skewY(-5deg);
        transform-origin: top left;
        height: 1200px;
    }

    .c {
        transform: skewY(-5deg);
        transform-origin: top left;
    }

    .part1 {
        width: 100%;
        height: 800px
    }

    .part1 ul {
        display: block;
    }

    .part1 h3 {
        font-size: 100;
    }

    .container123 {
        background-color: #f0f0f0;
        width: 100%;
        height: 15%;
        transform: skewY(-5deg);
        transform-origin: top left;
    }

    .cont {
        transform: skewY(5deg);
        transform-origin: top left;
        margin-left: 10%;
    }

    .title h3 {
        height: 20px;
    }



    .part1 li {
        font-size: 35;
        display: block;
    }



    .h li {
        width: 100;
        height: 100;
        margin-left: 0px;
        font-size: 35;

    }

    .h {
        display: block;
        margin-left: 600px;
        margin-bottom: 50px;
    }

    li .contact {
        height: 50px;
        width: 200px;
        background-color: #FF7415;
        border: 0px;
        color: white;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 70px;
        font-size: 25;
    }

    .contact button {
        margin-left: 0;
    }

    .container3 .paragraph1 {
        width: 90%;
        margin-left: 0%;
        font-size: 35;
    }

    .cont {
        margin: 0;
    }

    .container3 {
        margin: 0px;
        margin-top: 50px;
    }

    .container3 h1 {
        font-size: 50;
    }

    .image-container {
        margin-left: 10%;
    }

    .image1,
    .image4 {
        width: 200px;
        height: 300px;
    }

    .image2,
    .image3 {
        width: 200px;
        height: 120px;
    }

    .special {
        height: 2000px;
    }

    .special ul {
        display: block;
        margin: auto;
    }

    .special h1 {
        font-size: 50;
    }

    .special li {
        margin: 3% auto 0 auto;
        width: 50%;
        height: 500px;
    }

    .price {
        margin-top: 100%;
        font-size: 30;
        width: 150px;
        height: 150px;
    }

    .ingredients {
        margin-top: 2%;
        font-size: 30;
    }

    .menu1,
    .menu2,
    .menu3 {
        margin-top: 30%;
        font-size: medium;
    }

    .co h1 {
        font-size: 50;

    }

    .up {
        margin-left: 5%;
    }

    .paragraph {
        font-size: 35;
        margin-left: 5%;
        width: 90%
    }

    footer img {
        width: 100px;
        height: 100px;
        margin-left: 60%;
    }

    .chef {
        width: 90%;
        height: fit-content;
        text-align: center;
        margin-top: 10%;
        margin-left: 50%;
    }

    .title {
        width: fit-content;
        font-size: 25;
    }

    .description {
        width: fit-content;
        font-size: 25;
    }

    .part1 {
        height: 700px;
    }

    .content {
        display: none;
    }

    .newsletter p {
        margin-left: 20px;
    }

    .p4 {
        width: 100%;
        height: max-content;
        font-size: 25;
    }

    .part4 {
        width: 100%;
        height: 3000px;
        background-color: #f0f0f0;

    }

    .table1 {
        background-color: white;
        height: fit-content;
        display: block;
        width: fit-content;
        margin: auto;
    }

    .t3 {
        width: 350px;
        height: 350px;
        font-size: 30;
        text-align: center;
    }


    .t3 img {
        width: 350px;
        height: 350px;
    }

    .t1 {
        display: block;
    }

    .Blog {
        display: block;
    }

    .blog {
        margin-bottom: 0px;
        height: fit-content;
    }

    .P5 {
        height: 1700px;
        padding: center;
    }

    .image {
        margin: auto;
        width: 700px;
        height: 700px;
        font-size: 35;
    }

    .P5 button {
        width: 200px;
        height: 70px;
        background-color: #FF7415;
        font: 20;
    }

    li img {
        width: 700px;
        height: 300px;
    }

    .container123 {
        background-color: #f0f0f0;
        width: 100%;
        height: 15%;
        transform: skewY(-5deg);
        transform-origin: top left;
    }

    .cont {
        transform: skewY(5deg);
        transform-origin: top left;
        margin-left: 10%;
    }

    .c {
        transform: skewY(-5deg);
        transform-origin: top left;
    }

    .container1 {
        margin-left: 0;
    }

    .container1 svg {
        margin: 0;
        margin-right: 0px;
    }

    .container2 h5 {
        font-size: 20px;
        width: fit-content;
        height: fit-content;
        margin-right: -10px;
    }

    .container2 p {
        font-size: 15px;
    }

    .cont {
        margin: 0;
    }

    .image-container {
        display: flex;
        margin-left: 0;
        margin-right: -20px;
        align-items: center;

    }
}