* {
    margin: 0px;
    padding: 0px;
}

.part1 {
    background-image: url("IMAGES/hero_2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
}

.menu {
    padding-top: 20px;
    margin-bottom: 70px
}

.contact {
    margin-left: 70px;
    width: 100px;
    height: 40px;
    background-color: #FF7415;
    border: 0px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.h {
    margin-left: 320px;
}

.menu li {
    margin-right: 20px;
}

.c {
    margin-left: 120px;
}

.title {
    margin-left: 70px;
}

a:hover {
    color: #FF7415;
}

h1 {
    text-align: center;
    font-size: 40;
    margin-bottom: 10px;
}

.part1 p {
    text-align: center;
    margin-bottom: 20px;
}

.get {
    background: none;
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 35px;
}

.button {
    text-align: center;
}






.container1 img {
    background-color: rgb(255, 111, 0);
    overflow: hidden;
    margin-right: 100px;
    height: 100px;
    width: 100px;
    background-size: 200px;
    background-position: center;
    border-radius: 50%;

}

.container1 .container2 {
    margin-left: 50px;
}

hr {
    color: rgb(255, 111, 0);
    width: 5%;
    margin-left: 47%;
    border-color: rgb(255, 111, 0);
    margin-bottom: 10px;
}


.container1 {
    padding-left: 10px;
    direction: flex;
    justify-content: center;

    margin-bottom: 20px;


}

.container1 svg {
    margin-right: 120px;
}

.meat h5 {
    margin-right: 40px;
}

.container2 h5 {
    color: orange;
    letter-spacing: 3px;
    margin-right: 135px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 0px;



}

.container2 p {
    color: gray;
    margin-top: -10px;
    font-size: 16px;
    margin-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-right: 30px;
    height: 50.2px;
    width: 270.7px;
    padding-right: 0px;
    padding-left: 20px;
    justify-content: space-between;
}



.top {
    display: flex;

}

.under {
    display: flex;
}

.container2 {
    display: block;
    padding-left: 60px;
    margin-top: -80px;
}

.container3 p,
h1 {
    text-align: center;
    /* Center the content horizontally */
    max-width: 580px;
    /* Limit the width of the container */
    margin: 0 auto;
    /* Center the container itself */

}

.container3 {
    margin-top: 100px;
}

.container3 p {
    color: grey;
}

.container3 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 35px;
}


.image1 {
    width: 220px;
    height: 280px;
    border-radius: 0;
}

.image2 {
    height: 140px;
    width: 200px;
    margin-bottom: 160px;
    margin-left: 20px;
    border-radius: 0;
}

.image3 {
    height: 120px;
    width: 200px;
    margin-top: 160px;
    margin-left: -200px;
    margin-right: 20px;
    border-radius: 0;


}

.image4 {
    width: 220px;
    height: 280px;
    margin-right: 60px;
    border-radius: 0;
}

.image-container {
    display: inline-flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 40px;
    margin-left: 30%;




}

.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-input {
    /* Add styles for the email input box */
    padding: 15px;
    width: 380px;
    /* Adjust the width as desired */
    border: 1px solid #ccc;
    /* Optional: Rounded corners */
    font-size: 18px;
    color: #000;
    /* Black font color */
    background-color: #fff;
    /* White background */
    margin-right: 20px;
}

.subscribe-button {
    /* Add styles for the subscribe button */
    padding: 15px 30px;
    /* Adjust padding as desired */
    background-color: rgb(255, 111, 0);
    /* Orange background */
    color: #fff;
    /* White font color */
    border: none;
    /* Optional: Rounded corners */
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 3px;
}




.newsletter {
    text-align: center;
}

.container6 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.container6 p {
    font-size: 18px;
}

.about-us {}

.part6 a:hover {
    color: grey;
}

.quick-links li {
    color: orange;
    font-weight: 500;
}

.part6 a {
    text-decoration: none;
    color: rgb(255, 111, 0);
    ;
}

.quick-links ul {
    display: block;

}

.quick-links li {
    width: 300px;
    height: auto;
}

.contact-info ul {
    display: block;


}

.contact-info li {
    width: 300px;
    height: auto;
}

.contact-info p {
    display: block;
}

.part6 p {
    display: flex;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us .opening-hours .quick-links {
    display: inline-block;
}

.container61 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.container61 p {
    font-size: 18px;
}

.about-us {}

.container61 {
    display: flex;
    padding-left: 15%;
    width: 1000px;

    justify-content: space-between;

    margin-top: 100px;
    margin-right: 80px;

}

.opening-hours {
    margin-right: 200px;
}

.quick-links li {
    font-size: 18px;
}

.contact-info p {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 18px;
}

.contact-info {
    font-size: 18px;
    margin-left: 750;
}

.container123 {
    background-color: #f0f0f0;
    width: 100%;
    height: 500px;
    transform: skewY(-5deg);
    transform-origin: top left;
}

.cont {
    transform: skewY(5deg);
    transform-origin: top left;
    margin-left: 200px;
}

svg {
    margin-bottom: 30px;
}

h5 {
    margin: left;
}

@media (max-width:800px) {
    .part6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container61 {
        font-size: 30px;
        display: inline-flex;
        flex-direction: column;
    }

    .newsletter {
        display: flex;
        justify-content: center;
    }

    .contact-info {
        font-size: 30px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: none;
    }

}


@media (max-width:1018px) {
    .container3 {
        display: block;
        justify-content: center;
    }

    .image-container {
        display: flex;
        margin-left: 0;
        margin-right: -20px;
        align-items: center;

    }

    .paragraph1 {
        min-width: 600px;
        font-size: 30px;
    }
}

@media (max-width:800px) {
    .container3 {
        justify-content: center;

    }

    .container61 {
        font-size: 30px;
        display:flex;
        flex-direction: column;
    }


}