#name{font-size: x-large;} 
#phone{font-size: x-large;} 
#email{ font-size: xx-large;}  
#Message{font-size: 28px;} 
#submit{background-color: orangered; color:white; font-size: medium;border: none;
} 
.form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px; 
    transform:skewY(5deg); 
  } 
.fk img { height: 300px;
    width: 300px; 
    margin-left: 8%;
} 
.Reservation{ display: flex;
justify-content: center; 
color: black;
height: 320px; transform: skewY(-5deg);
}  



@media screen and (max-width: 768px) {
    .Reservation{ 
      width: 100%;
      display: block;
    }
  }

