@media only screen and (max-width: 768px) {}

.part2 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;


}

.text {
    font-size: large;
    margin-left: 8%;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    font-family: sans-serif;

}

.text h2 {
    color: #FFA500;
}

.text h3 {
    text-decoration: underline;
}

#map {
    height: 300px;
    width: 600px;

}

@media (max-width:800px) {


    .text {
        font-size: 20px;
        margin-left: 0%;
    }

    h2 {
        font-size: 20px;
    }

    .map {
        width: 350px;
    }

    #map {
        height: 300px;
        width: 400px;
    }
}