*{
    margin: 0;
    padding: 0;
}

.footer{
    display: flex;
    background-color: #207DE9;
    color: white;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.categories,.contactUs,.newsLetter{
    width: 25%;
}

.ulCaregories,.ulContact{
    list-style-type: none;
}

.footerTitle{
    margin-bottom: 15px;
}

.contactSvg{
    width:20px;
    height: 20px;
    margin-right: 10px;
}

.liContact{
    display: flex;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.ulCategories li{
    text-align: left;
    margin-left: 100px;
    list-style-type: none;
    font-size: 20px;
    margin-top: 5px;
}

.newsParagraph{
    font-size: 20px;
    margin-bottom: 5px;
}

.ulContact{
    margin-left: 50px;
}

.newsLetter{
    margin-right: 10px;
}

.newsButton{
    background-color: white;
    color: #207DE9;
    margin-top: 5px;
    border: 0px;
    width: 100px;
    height: 30px;
    font-size: 20px;
}

.newsInput{
    width: 250px;
    height: 30px;
    margin-top: 5px;
}